<div class="myChar <% if (char.invalid) {%> invalid <%}%>">
    <div class="collection-char collection-char-light-side">
        <% if (char?.gear < 13) { %>
            <!-- If the character is lower than g13, use the easy ones -->
            <div class="player-char-portrait char-portrait-full char-portrait-full-gear-t<%= char.gear %>">
        <% } else if (char?.gear == 13) { %>
            <!-- Otherwise, use the g13 one, based on the character's alignment -->
            <div class="player-char-portrait char-portrait-full char-portrait-full-gear-t13 char-portrait-full-alignment-<% if (char.side) {%><%= char.side %><%}%>-side">
        <% }; %>
            <!-- Get the character's image from swgoh.gg -->
            <img class="char-portrait-full-img" src="<%= char.charUrl %>" height="160" width="160">
            <% if (char?.gear > 0) { %>
                <div class="char-portrait-full-gear"></div>
            <% }; %>

            <!-- Show the various star levels -->
            <% if (char?.rarity > 0) { %>
                <div class="star star1 <% if (char.rarity < 1) {%>star-inactive<%}%> "></div>
                <div class="star star2 <% if (char.rarity < 2) {%>star-inactive<%}%> "></div>
                <div class="star star3 <% if (char.rarity < 3) {%>star-inactive<%}%> "></div>
                <div class="star star4 <% if (char.rarity < 4) {%>star-inactive<%}%> "></div>
                <div class="star star5 <% if (char.rarity < 5) {%>star-inactive<%}%> "></div>
                <div class="star star6 <% if (char.rarity < 6) {%>star-inactive<%}%> "></div>
                <div class="star star7 <% if (char.rarity < 7) {%>star-inactive<%}%> "></div>
            <% }; %>
            <% if (char.zetas > 0) { %>
                <!-- If there are zetas on the character, show that with a count -->
                <div class="char-portrait-full-zeta"><%= char.zetas %></div>
            <% }; %>
            <!-- Show the character's level -->
            <% if (char.relic >= 1 && char.gear >= 13) { %>
                <!-- If they have a relic level, show that badge in place of the lvl85 -->
                <div class="char-portrait-full-relic"><%= char.relic %></div>
            <% } else if (char.level >= 0) { %>
                    <div class="char-portrait-full-level"><%= char.level %></div>
            <% }; %>
            <!-- <% if (char.omicron > 0) { %> -->
                <!-- If the character has an omicron ability, show that -->
                <div class="char-portrait-full-omicron"><%= char.omicron %></div>
            <!-- <% }; %> -->
        </div>
    </div>
    <div class="char-portrait-name"><%= char.name %></div>
</div>
