<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<base href="<%= baseURL %>">

<body>
    <div id="wrapper" style="max-width: <%= maxCharWidth %>">
        <div id="header">
            <%- header %>
        </div>
        <div id="charList">
            <% characters.forEach(function(char) { %>
                <%- include('../partials/char', {char: char}); %>
            <% }); %>
        </div>
        <div id="footer">
            <%- footer %>
        </div>
    </div>
</body>
